{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container mt-5 bg-secondary shadow text-white" style="max-width: 600px; padding: 50px; border-radius: 10px;">
        <h3 class="text-center" style="margin-top: 10px;">Import Data to Database Tables</h3>
        <form action="{% url 'import_data' %}" method="post" style="max-width: 500px; margin: auto; padding-top: 10px;" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" style="margin-bottom: 10px;">
                <label for="file_path">Upload CSV File</label>
                <input type="file" name="file_path" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="file_path">Select Database Table</label>
                <select name="model_name" class="form-control" required>
                    <option value="" disabled selected>Select</option>
                    {% for model in custom_models %}
                        <option value="{{ model }}" >{{ model }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Import Data" class="btn btn-danger" style="margin-top: 10px;">

            {% include 'alerts.html' %}

        </form>
    </div>
</body>
{% endblock %}